.favPhotos{
    height: 75px;
    width: 75px;
    border-radius: 25px;
}
#background{
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.627);
    padding: 20px;
}

#favoritesList{
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.627);
    padding: 20px;
    margin-bottom: 5%;
}

/* #favButtons{
    justify-content: space-between;
} */

#favHeart{
    display: inline-block;
}

h4{
    padding-left: 5%;
    display: inline-block;
}

.listName{
    display: inline-block;
}