#background {
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.82);
    padding: 20px;
    margin-top: 20%;
}

#hPTitle{
    font-size: 30px;
    padding: 5%;
    text-align: center;
}

/*Favorites*/
#favMM{
 display: inline-block;
 margin: 10%;
}
#heartMM{
    margin-left: 7%;
}

/*Found Items*/
#foundMM{
    display: inline-block;
    margin: 10%;
}
#baskMM{
    margin-left: 20%;
}

/*Foragable Items*/
#forgMM{
    display: inline-block;
    margin: 5%;
}
#magnMM{
    margin-left: 25%;
}

/*Tips & Guidelines*/
#TnGMM{
    display: inline-block;
    margin: 5%;
}
#lightMM{
    margin-left: 20%;
}


/* Log out button */
#button{
    transform: translate(-1%, 5px);
    width: 320px;
    margin-top: 25%;
}