#background{
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.82);
    padding: 20px;
}

#mcHead{
    font-size: 30px;
    padding: 5%;
    text-align: center;
}

#cat{
    display: inline-block;
    margin: 5%;
}