#about{
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.82);
    padding: 20px;
}



#ITW{
    font-size: 45px;
    margin-top: 5%;
}

#dropdown-basic{
    margin-left: 25%;
    margin-bottom: 10%;
}