


 main{
    background: url(iStock-512691430.big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
 }
 

#form{
    border-radius: 25px;
    background: rgb(220, 228, 201, 0.82);
    padding: 20px;
    margin-top: 30%;
    /* box-shadow: 0px 0px 15px -5px; */
    /* display: flex;
    justify-content: center; */
    /* position: absolute; */

    /* opacity: .90; */
    /* width: 100vw;
    height:100vh */
} 

/* display: 'flex', justifyContent: 'center',alignItems: */

h2{
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

#discover{
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.82);
    padding: 20px;
    margin-top: 60%;
}