.uploadedPhoto{
    height: 50px;
    width: 50px;
}

#background {
    border-radius: 25px;
    background: rgba(220, 228, 201, 0.627);
    padding: 20px;
}

#cancelButton{
    align-items: center;
}